		#SubreditSearch {margin-left:10px;}  
		a.IsActive {
			color: #fff !important;
			background-color: #080808;
		  }		
		  #loaderrrr {color:white}
		  #monies {color:white; margin-left:15px; margin-top:15px }
		  
		  .display-none{display:none !important;}
		  /*.img-thumbnail { padding:10px; margin:10px; position:relative;}*/
		  
		  /*.img-thumbnail .reddit-item-comments {
			position:absolute; 
			background-color:transparent;
			top:10px; right:10px;
			text-align:center;
		  }*/
		  
		  #display-mode {margin:15px;}
		  	  
		  
		  /*#image-section .img-thumbnail{
			border:none;
			padding:0px;
			margin: 2px;
			margin-right: -1px;
		  }
		  
			.blue {color:blue;}
		*/
		@media screen and (min-width: 1000px) {
			.img-gallery { width:300px; height:200px;}
		}
		
		@media (min-width: 992px) {
			.img-gallery { width:300px; height:200px;}
		}
		
		@media (min-width: 400px) {
			.img-gallery { width:300px; height:200px;}
		}
		
		@media (min-width: 1200px) {
			.img-gallery { width:300px; height:200px;}
		}
		
		/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */


        
        .custom-img-padding { padding:5px !important;}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
			
/*REDIT TEXT SCREEN SPECIFIC STYLES*/
.reddit-text-screen .loader-checker, .reddit-image-screen .loader-checker { visibility: hidden; }