<div class="custom-img-padding col-xl-1 col-lg-2 col-md-3 col-xs-6 thumb">    
   <!-- <span>{{title}}</span>-->
    <img class="img-gallery img-responsive" src="{{thumb}}" alt="Banana" data-toggle="tooltip" data-placement="bottom" title="{{title}}">
</div>