<div class="reddit-image-screen">
    <div class="row screen-items">
        <div id="image-section">
            <div id="links"></div>            
        </div>
    </div>
    <div class="row screen-loader">
        <div class="col-xs-12 loader-checker">x</div>
        <div class="col-xs-12 loader-icon text-center">
            <img src="./Content/loading.gif" class="img-circle" />
        </div>
    </div>
</div>