<div class="custom-img-padding col-xl-1 col-lg-2 col-md-3 col-xs-6 thumb">
    <a href="{{link}}" title="{{title}}" rel="{{name}}" class="reddit-image-link" data-gallery>
        <img class="img-gallery img-responsive" src="{{thumbnail}}" alt="Banana">
    </a>    
</div>