<div class="reddit-text-screen">
    <div class="row screen-items"></div>
    <div class="row screen-loader">
        <div class="col-xs-12 loader-checker">x</div>
        <div class="col-xs-12 loader-icon text-center">
            <img src="./Content/loading.gif" class="img-circle" />
        </div>
    </div>
</div>